<!DOCTYPE html>
<html lang="en">
<head>
  <title>complaint_form</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="complaint_form.html">Home</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="complaint_form.html">Complaint</a></li>
      <li><a href="feedback_form.html">Feedback</a></li>
      <li><a href="home.html">Logout</a></li>
    </ul>
  </div>
</nav>
  
<div class="container">

  <form class="form-horizontal">
<fieldset>
	
	
	
<div class="table-full"></div>
					<div class="container"></div>
						<div class="row"></div>
						<center><h3 class="display-2 cl-white txt-ctr" style="margin-bottom:30px">EMPLOYEE COMPLAINT</h3></center>
							<div class="col-sm-offset-1"></div>
							
<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="name">Name of the Employee</label>  
  <div class="col-md-5">
  <input id="name" name="name" type="text" placeholder="name" class="form-control input-md" required="">
     </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="name">Supervisor name:</label>  
  <div class="col-md-5">
  <input id="name" name="name" type="text" placeholder="name" class="form-control input-md" required="">
     </div>
</div>


<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="name">Department:</label>
  <div class="col-md-5">
    <select id="Department" name="Department" class="form-control">
      <option value="1">TESTING</option>
      <option value="2">DEVELOPER</option>
    </select>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="name">Employee ID:</label>  
  <div class="col-md-5">
  <input id="number" name="ID" type="text" placeholder="ID" class="form-control input-md" required="">
     </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="name">Nature of the complaint:</label>  
  <div class="col-md-5">
  <input id="complaint" name="complaint" type="text" placeholder="complaint" class="form-control input-md" required="">
     </div>
</div>

<!-- Textarea -->
<div class="form-group">
  <label class="col-md-4 control-label" for="descricao">Describe accurately the details of your complaint and against whom:</label>
  <div class="col-md-5">          
	  <input id="complaint" name="complaint" type="text" placeholder="complaint" class="form-control input-md" required="">               
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="name">Describe how the incident you are complaining about has impacted negatively on your work:</label>  
  <div class="col-md-5">
  <input id="complaint" name="complaint" type="text" placeholder="complaint" class="form-control input-md" required="">
     </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="name">Complaint date:</label>  
  <div class="col-md-5">
         <input class="form-control" type="date" name="" id="" value="">
     </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="name">Signature:</label>  
  <div class="col-md-5">
  <input id="name" name="" type="text" placeholder="" class="form-control input-md" required="">
     </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="name"></label>  
  <div class="col-md-5">
 <input type="submit" value="Send" class="btn btn-primary">
<input type="submit" value="Reset" class="btn btn-success">
     </div>
</div>



</fieldset>
</form>
</div></div>
</div>

</body>
</html>
