<html>
<head> 
  <title>Complaint</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
 
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<form class="form-horizontal">
<fieldset>
	
	
	<div class="section section-full" style="background-image: url(https://images5.alphacoders.com/351/thumb-1920-351885.jpg);">
				<div class="overlay" style="opacity: 0.3; background-color: rgb(193, 193, 193);"></div>
<div class="table-full"></div>
					<div class="container"></div>
						<div class="row"></div>
							<h1 class="display-2 cl-white txt-ctr">COMPLAINT FORM</h1>
							<div class="col-sm-offset-1"></div>
								<div class="row" style="margin-top: 13em;"></div>
									<div class="col-sm-5 cl-white" style="background-color: rgba(0, 0, 0, 0.32); padding: 50px 40px;">
							</div>
<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="name">Name of the User</label>  
  <div class="col-md-5">
  <input id="name" name="name" type="text" placeholder="name" class="form-control input-md" required="">
     </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="sla">Department:</label>
  <div class="col-md-2">
    <select id="Department" name="Department" class="form-control">
      <option value="1">TESTING</option>
      <option value="2">DEVELOPER</option>
    </select>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="name">Employee ID:</label>  
  <div class="col-md-5">
  <input id="number" name="ID" type="text" placeholder="ID" class="form-control input-md" required="">
     </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="name">Nature of the complaint:</label>  
  <div class="col-md-5">
  <input id="complaint" name="complaint" type="text" placeholder="complaint" class="form-control input-md" required="">
     </div>
</div>

<!-- Textarea -->
<div class="form-group">
  <label class="col-md-4 control-label" for="descricao">Description</label>
  <div class="col-md-4">                     
    <textarea class="form-control" id="description" name="description">Complaint description</textarea>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="name">Complaint date:</label>  
  <div class="col-md-5">
                    <input class="form-control" type="date" name="" id="" value="">
     </div>
</div>

<input type="submit" value="Send" class="btn btn-default">
<input type="submit" value="Reset" class="btn btn-default">

</fieldset>
</form>
</html>
